#end_spot,
#start_spot {
  height: 200px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

#end_start,
#input_start {
  width: 65%;
  height: 80px; 
  font-size: 50px;
  margin: 0 20px; 
}

#end_name,
#start_name {
  font-size: 50px;
  margin: 0 20px; 
  white-space: nowrap;
}

#btn_set {
  display: flex; 
  justify-content: space-around; 
  width: 100%;
}

#submit,
#reset {
  width: 30%;
  height: 100px; 
  font-size: 50px;
  margin: 0; 
}

#reset {
  background-color: var(--bs-gray);
}

/* 时间轴 */
#route-info-container {
  display: flex; 
}

/* 时间轴样式调整 */
.time-axis {
  list-style: none;
  padding: 0;
}

.time-axis li {
  background-color: #4a90e2;
  color: white;
  padding: 15px; /* 增加padding以匹配路程信息项的高度 */
  margin-bottom: 20px; /* 调整间距以匹配路程信息项之间的间隔 */
  display: flex;
  align-items: center;
  font-size: 30px; /* 調整字體大小以放大文字 */
}

.route-info-item {
  display: flex;
  align-items: center;
  padding: 15px; /* Padding for better readability */
  margin-bottom: 20px; /* Consistent spacing with time-axis li */
  font-size: 30px; /* 調整字體大小以放大文字 */
}

.route-icon {
  width: 48px; /* 調整圖標大小 */
  height: 48px; /* 調整圖標大小 */
  margin-right: 10px; /* Space between icon and text */
}

.route-text-container {
  display: flex;
  flex-direction: column;
}

.youbike-info {
  font-size: 24px; /* 調整YouBike信息的字體大小以放大文字 */
  color: #666; /* Dimmed color for less emphasis */
  margin-top: 4px; /* Space between route text and YouBike info */
}

#route-info {
  flex: 1; /* 路程信息占据剩余空间 */
  display: flex;
  flex-direction: column;
}

/* Loading动画 */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}