#end_stop_dropdown,
#start_stop_dropdown {
  width: 80%;
  height: 100px;
  font-size: 50px;
  display: block;
  margin: 15px auto auto;
  background-color: var(--bs-gray);
}
#btn_set {
  display: block;
  margin-top: 3%;
  align-items: center;
  width: 100%;
}

#trip {
  width: 30%;
  height: 150%;
  margin-left: 15%;
}
#content {
  height: 77%;
}
#end_spot,
#start_spot {
  height: 200px;
}
#end_start,
#input_start {
  width: 65%;
  height: 50%;
  margin-left: 20%;
  font-size:50px;

}
#end_name,
#start_name {
  width: 15%;
}
#btn_gp {
  height: 5%;
}
#BTN_group {
  display: block;
  height: 15%;
}
#submit {
  width: 30%;
  height: 150%;
  margin-left: 5%;
}
#reset{
    width: 30%;
    height: 150%;
    margin-left: 5%;
  }
 
  #route-info-container {
    display: flex;
}

.time-axis {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 20px; /* 與路程信息的間隔 */
}

.time-axis li {
    background-color: #4a90e2; /* 藍色背景 */
    color: white; /* 白色文字 */
    padding: 5px 10px; /* 內邊距 */
    margin-bottom: 5px; /* 間隔 */
}

.time-axis li:first-child {
    background-color: #d0021b; /* 第一個時間點使用紅色背景 */
}